.filters {
  text-align: center;
}
button {
 margin: 15px;
 width: 200px;
}
table {
  margin: 0 auto;
}
.mat-column-size {
  padding: 20px 40px;
}
.mat-column-numtoppings {
  padding: 20px 40px;
}
.mat-column-toppings {
  padding: 20px 40px;
}
.groupByHeaderRow {
  background: lightgray;
}
